:root{
  --color-all:#ff9954;
  --el-color-primary: #ff9954;
  --line-color:#faf8f9;
}

body{
  font-size: 14px;
  /* font-family: 'Courier New', Courier, monospace; */
}

.top-page{
  position: relative;
  z-index: 9;
  height: 100vh;
  background-color: #fff;
  overflow-y: auto;
}

.line-bottom{
  border-bottom: 1px solid var(--line-color);
}